 h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    text-align: center;
    background-color: rebeccapurple;
    text-shadow: 12px 5px 2px rgba(0,0,0,0.6);
 }

 div{
   width: 200px;
   height: 200px;
   background-color: blueviolet;
   box-shadow: 49px 10px 5px 0px rgba(0,0,0,0.75);
   border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
text-shadow: 41px -33px 2px rgba(228,19,19,0.6);
padding: 30px;
 }
